body {
  background: #141414ea;
  /* font-family: "Inter", sans-serif; */
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

.grain {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: translateZ(0);

  &:before {
    content: "";
    top: -10rem;
    left: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    z-index: 9999;
    position: fixed;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
    opacity: 0.15;
    pointer-events: none;
    -webkit-animation: noise 1s steps(2) infinite;
    animation: noise 1s steps(2) infinite;
  }

  @-webkit-keyframes noise {
    to {
      transform: translate3d(-7rem, 0, 0)
    }
  }

  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0)
    }

    10% {
      transform: translate3d(-1rem, -4rem, 0)
    }

    20% {
      transform: translate3d(-8rem, 2rem, 0)
    }

    30% {
      transform: translate3d(9rem, -9rem, 0)
    }

    40% {
      transform: translate3d(-2rem, 7rem, 0)
    }

    50% {
      transform: translate3d(-9rem, -4rem, 0)
    }

    60% {
      transform: translate3d(2rem, 6rem, 0)
    }

    70% {
      transform: translate3d(7rem, -8rem, 0)
    }

    80% {
      transform: translate3d(-9rem, 1rem, 0)
    }

    90% {
      transform: translate3d(6rem, -5rem, 0)
    }

    to {
      transform: translate3d(-7rem, 0, 0)
    }
  }
}

:root {
  --yellow: #ffed00;
}

.bg-yellow {
  background-color: var(--yellow);
}

.text-a {
  color: var(--yellow);
}

/* SCROLLBAR  */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1c1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--yellow);
}

.main-title {
  font-size: calc(50px + 3vw);
  font-weight: bold;
  color: var(--yellow);
  text-shadow: -2px 2px 5px black;
}

.secondary-title {
  color: white;
  text-shadow: -2px 2px 5px black;
  font-weight: 500;
}

.bg-p {
  background-color: var(--yellow) !important;
}

.bg-t {
  background-color: transparent !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.text-cus {
  color: white !important;
  text-shadow: 1px 1px 3px black;
}

.btn-nav {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 2px solid yellow;
  box-shadow: 1px 1px 3px rgb(110, 110, 99);
}

.canvas-body-menu {
  background: linear-gradient(white, rgb(216, 216, 0));
}

.login-register-box {
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.btn-reg-login {
  width: 100%;
  background-color: rgb(216, 216, 0);
  border: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 5px black;
  padding: 3px 0;
}

.btn-reg-login:hover {
  opacity: .8;
}

.log-reg-link {
  font-weight: bold;
  text-decoration: underline;
  color: purple;
  font-size: 18px;
  cursor: pointer;
}

.log-reg-link:hover {
  opacity: .8;
}

.btn-logout {
  background-color: rgb(180, 15, 15);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 5px black;
  padding: 5px 20px;
}

.btn-logout:hover {
  opacity: .8;
}

.bet-box {
  position: relative;
  border-radius: 10px;
  padding: 20px;
  background-color: #1d1d1b;
  color: white;
  box-shadow: -5px 5px 10px rgb(0, 0, 0);
  width: 90%;
}


@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.circularBox {
  position: relative;
}

.valuBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: large;
  font-weight: 400;
}

.totVotiBox {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgba(154, 154, 154, 0.245);
  /* box-shadow: 1px 1px 5px black; */
  /* border: 2px solid var(--yellow); */
  font-size: large;
  font-weight: 400;
  text-shadow: 1px 1px 3px black;
}



.classifica-titles {
  font-size: calc(7px + 0.7vw);
}

/*! A PALLA GIALLA */
/* .container-stats::after {
  content: '';
  z-index: -1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(255, 255, 0, 0.472);
  position: absolute;
  right: 50px;
  bottom: 50px;
  transition: 1s;
  animation: bounce 5s linear infinite;
} */

.myBetContainer {
  background-color: rgb(23, 23, 23);
  backdrop-filter: blur(15px);
  /* border: 2px solid rgba(246, 255, 0, 0.466); */
  box-shadow: -5px 8px rgba(251, 255, 0, 0.189);
}

/* @keyframes bounce {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-100px, -100px);

  }

  50% {
    transform: translate(-150px, -80px);
  }

  75% {
    transform: translate(-100px, -50px);
  }

  100% {
    transform: translate(0, 0);
  }
} */
.bg-section-non {
  background-color: #1d1d1b;
  border-radius: 10px;
  padding: 20px;
  text-shadow: 2px 2px black;
  min-height: 400px;
  box-shadow: -5px 5px 10px rgb(0, 0, 0);
}

.createBetContainer {
  height: 500px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.bet-modal {
  background-color: #1d1d1b;
  box-shadow: -5px 5px 10px rgb(0, 0, 0);
}

.bg-modal {
  backdrop-filter: blur(7px) saturate(120%);
}

.alert-box {
  position: fixed;
  bottom: 0;
  right: 20px;
  text-shadow: none;
}

.reg-login-box-alert {
  position: absolute;
  top: 105%;
  left: 5%;
  width: 90%;
}

.p-description {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.377);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 10px;
  overflow-y: auto;
}

.btn-vote {
  background-color: yellow;
  border-radius: 20px;
  border: 1px solid rgb(195, 195, 25);
  padding: 5px 20px;
  box-shadow: 1px 1px 7px grey;
  cursor: pointer;
}

.btn-remove-vote {
  background-color: red;
  border-radius: 20px;
  border: 1px solid rgb(114, 8, 8);
  padding: 5px 20px;
  box-shadow: 1px 1px 7px grey;
  cursor: pointer;
}


.trasparency {
  animation: fade 4s linear infinite;
  color: rgb(255, 53, 53);
}

.voteBtn {
  position: absolute;
  bottom: -2%;
  right: 10%;
  background-color: var(--yellow);
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 4px 20px;
  border-radius: 5px;
  box-shadow: -2px 2px 10px rgb(0, 0, 0);
  cursor: pointer;
  z-index: 5;
}

.voteBtn:hover {
  background-color: #ecec23b2;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.vote-box {
  width: 40px;
  height: 40px;
  background-color: rgb(122, 122, 122);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.vote-box:hover {
  background: var(--yellow);
  transform: scale(1.1);
  color: black;
}

input {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
}

input:focus {
  outline: none;
}

.textareaContainer img {
  position: absolute;
  width: 180px;
  right: 0;
  top: 0;
}

textarea {
  border: none;
  background-color: rgb(214, 214, 214);
  min-width: 100%;
  border-radius: 10px;
  max-width: 100%;
  min-height: 200px;
  max-height: 200px;
}


textarea:focus {
  outline: none;
}

.btn-custom {
  border-radius: 5px;
  width: 100%;
  background-color: yellow;
  border: none;
  opacity: .9;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.594);
  font-weight: bold;
  padding: 7px 0px;
  color: white !important;
  text-shadow: 1px 1px 3px black;
}

.btn-custom:hover {
  opacity: 1;
}

.rankingContainer {
  color: rgb(255, 255, 255);
  background-color: #1d1d1b;
  box-shadow: -5px 5px 10px black;
  height: 600px;
  overflow-y: hidden;
}

.ranking-mobile-scrolling {
  min-width: 700px;
  overflow-x: auto;
}

.rankingScrollBar {
  overflow-x: auto;
}

.rankingScrollBar::-webkit-scrollbar {
  height: 10px;
}

.rankingScrollBar::-webkit-scrollbar-track {
  border-radius: 3px;
}

.rankingScrollBar::-webkit-scrollbar-thumb {
  border: 1px solid rgb(255, 234, 0);
}

.rankingPlayer {
  font-size: 0.9rem;
}

.bg-bet {
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.493), inset 1px 1px 2px rgba(255, 255, 255, 0.493);
  background: #272727;
}

.color-yellow {
  color: var(--yellow);
}

.containerVotes {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background: #141414ab;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  transition: 0.5s;
  opacity: 0;
  overflow: hidden;
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

h6 {
  margin: 0;
}

/* PAGINATION  */
.page-link{
  color: var(--yellow);
}

.active>.page-link, .page-link.active {
  background: var(--yellow);
  border: 1px solid var(--yellow);
  color: black;
}


/* CHART  */
.chartDiv {
  height: 500px;
}

.chartScroll {
  overflow-x: auto;
}

.chartScroll::-webkit-scrollbar {
  height: 10px;
}

.chartScroll::-webkit-scrollbar-track {
  border-radius: 3px;
}

.chartScroll::-webkit-scrollbar-thumb {
  border: 1px solid rgb(255, 234, 0);
}

.chartContainer {
  background-color: rgb(94, 94, 94);
  border-radius: 20px;
  padding: 20px;
  border: 1px solid var(--yellow);
  box-shadow: -2px 2px 10px black;
}







/* prove card */
.card-list {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;

}

.card__border,
.card__border-line,
.card__inner {
  -webkit-clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
  clip-path: polygon(50% 0, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
}

.userCard {
  -webkit-filter: drop-shadow(0px 0px 5px var(--color)) drop-shadow(0px 0px 15px var(--color));
  filter: drop-shadow(0px 0px 5px var(--color)) drop-shadow(0px 0px 15px var(--color));
  position: relative;
  max-width: 350px;
  margin: auto;

  @media screen and (max-width: 600px) {
    width: 75%;
  }
}

.card__border {
  position: absolute;
  width: 98%;
  height: 102%;
  background: var(--color);
  left: 1%;
  top: 1%;
}

.card__border-line {
  position: absolute;
  width: 95%;
  height: 99%;
  left: 2.5%;
  top: 2.5%;
  background: -webkit-gradient(linear,
      left top, left bottom,
      color-stop(33%, hsl(0, 0%, 0%)),
      color-stop(70%, hsl(0, 0%, 0%)));
  background: linear-gradient(to bottom,
      hsla(0, 0%, 0%, 0.562) 33%,
      hsla(266, 100%, 50%, 0.658) 90%);
}

.card__inner {
  background: -webkit-linear-gradient(179deg, var(--color), #8b7956 90%);
  background: linear-gradient(179deg, var(--color), #e3a83b 90%);
  padding: 0.5rem 0.2rem 0rem;
  width: 92%;
  margin-top: 4.8%;
  margin-left: 4%;
}

.card__img {
  display: flex;
  padding: 0 1rem;
  background: repeating-linear-gradient(126deg,
      hsla(0, 0%, 100%, 0.219) 0%,
      #ffffff57 1.2%,
      transparent 1.19%,
      transparent 4%,
      transparent 4.1%);

  @media screen and (max-width: 600px) {
    padding: 0 .2rem;
  }
}

.img__team {
  flex: 1 1 30%;
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(8px);
  display: flex;
  /* padding: 0.3rem; */
  align-items: center;
  padding-top: 15%;
}

.img__athlete {
  flex: 1 1 75%;
  padding-top: 8%;

  img {
    margin-left: auto;

  }
}

.card__type {
  width: 50%;
  width: min-content;
  margin: auto;
  padding: 0 10%;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-top: -6%;

  @media screen and (max-width: 600px) {
    font-size: min(1.2rem, 5vw);
  }
}

.card__text {
  position: relative;
  padding-bottom: 16%;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('https://i.pinimg.com/originals/80/7d/ce/807dcedf950725fea6b935cdb6ffb4a6.jpg');
    /* Sand texture*/
    opacity: 0.3;
    z-index: -1;
  }

  @media screen and (max-width: 600px) {
    padding-bottom: 10%;
  }
}

.name {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin: 2% 0 0;
  position: relative;

  &:before {
    content: '';
    background: -webkit-gradient(linear,
        left top, right top,
        from(transparent),
        color-stop(#ff0000),
        color-stop(rgb(255, 0, 0)),
        color-stop(#ff0000),
        to(transparent));
    background: linear-gradient(to right,
        transparent,
        #3730305c,
        black,
        #0000004f,
        transparent);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5%;
  }

  @media screen and (max-width: 500px) {
    font-size: min(10vw, 1.5rem);
  }
}

.card-date {
  position: absolute;
  top: -10px;
  left: 30px;
  width: fit-content;
}












/* MOBILE  */
@media screen and (max-width: 600px) {
  .chartDiv {
    height: 300px;
  }
}